extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Latest Additions

  if error
    p Error getting latest additions content.
  else

    p Last added books:

      div(class='grid-row')
        each book in data.latest_books
          div(class='card') 
            a(href=book.url)
              div(class='')  
                img(src=book.image alt=book.title class='thumbnail') 
                div(class='') 
                  p(class='card-title')  #{book.title}
                  small(class='') #{book.author.family_name},  #{book.author.first_name}        
                  br
                  div(class='badge-group') 
                    each val, index in book.genre
                      span(class='badge') 
                        small(class='') #{val.name}

  h2 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The library has the following record counts:

    div(class='grid-row')
      each val, index in library_overview
        div(class='dashboard-card')
          div(class='dashbaord-card-detail') 
            p #{index}
            span #{data[val]}


