extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Latest Additions

  if error
    p Error getting latest additions content.
  else

    p Last added books:

      div(class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3')
        each book in data.latest_books
          div(class='col mb-5') 
            a(href=book.url)
              div(class='card hover:shadow-sm')  
                img(src=book.image alt=book.title  style='object-fit:cover; height:12rem' class="img-responsive  card-img-top") 
                div(class='card-body') 
                  p(class='card-text text-left text-truncate font-weight-bold')  #{book.title}
                    br
                    small(class='card-text text-left  font-weight-normal text-muted') #{book.author.family_name},  #{book.author.first_name}        
                  div(class='flex gap-2') 
                  each val, index in book.genre
                    span(class='badge badge-pill badge-secondary font-weight-light mr-2') 
                      small(class='font-weight-normal') #{val.name}

  h2 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The library has the following record counts:

    div(class='row row-cols-1 row-cols-md-5 mb-3 text-center')
      each val, index in library_overview
        div(class='col mb-5')
          div(class='card')
            div(class='card-header py-3 font')  #{index}
            div(class='card-body')
              div(class='card-title lead text-center m-0 font-weight-bold display-4') #{data[val]}


